<body class="form">
<h1>Edit <%=@destination.name%></h1>

<%= render(partial: 'form') %>

<br />
<%= link_to 'Back',traveler_destinations_path(@traveler), class: 'btn light-green white-text' %>
</body>