
.flash {
  text-align: center;
  font-size: 17px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: grey;
}

.flash.info {
  background-color: lightblue;
}

.flash.error {
  background-color: red;
}

.flash.success {
  background-color: lightcyan;
  color: black;
}
